<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>欢迎登陆</title>

    <!-- Bootstrap core CSS -->
    <script src="../../static/bootstrap/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/bootstrap/js/vue.js"></script>
    <link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../static/bootstrap/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/bootstrap/css/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/static/bootstrap/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../static/bootstrap/js/ie-emulation-modes-warning.js"></script>

    <script type="text/javascript" src="../../static/bootstrap/js/bootstrap.js"></script>
    <style type="text/css" src="../../static/bootstrap/css/bootstrap.css"></style>
    <script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
  </head>

  <body>

    <div class="container" id="vue_app">
      <!--@submit="submitButton"-->
      <form class="form-signin" @submit="submitButton" >{% csrf_token %}
        <h2 class="form-signin-heading" style="text-align: center">欢迎{% verbatim %}{{ message }}{% endverbatim %}</h2>

        <label for="inputPhonenumber" class="sr-only" v-show="s_value" >Phonenumber</label>
        <input v-model="phonenumber" type="text" id="inputPhonenumber" class="form-control" v-show="s_value" placeholder="手机号" required>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input v-model="email" type="email" id="inputEmail" class="form-control" placeholder="邮箱地址" required autofocus>

        <label for="inputName" class="sr-only">User name</label>
        <input v-model="username" type="text" id="inputName" class="form-control" placeholder="用户名" required autofocus>

        <label for="inputPassword" class="sr-only">Password</label>
        <input v-model="password" type="password" id="inputPassword" class="form-control" placeholder="密码" required>
        
        <div class="checkbox">
          <label>
            <input type="checkbox" @click="select_reg"> 还没账户？注册
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">{{ message }}</button>
        <!--button>{{ reg_sub }}</button-->
      </form>
    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../static/bootstrap/js/ie10-viewport-bug-workaround.js"></script>
  </body>
  <script type="text/javascript">
    new Vue({
      el:"#vue_app",
      data:{
        s_value:"",
        fff:"show",
        login_register:{action:'/login_verify/'},
        reg_sub:"",
        message:"登陆",
        email:"",
        username:"",
        password:"",
        phonenumber:""
      },
      methods:{
        select_reg:function(){
          if(this.message=="登陆"){
            this.s_value="show",
            this.message="注册",
            this.login_register.action="/register/"
          }else {
            this.s_value="",
            this.message="登陆",
            this.login_register.action="/login_verify/"
          }
        },
        submitButton:function(e){
          //e.preventDefault();
          var csrf_token=document.getElementsByName("csrfmiddlewaretoken")[0].getAttribute('value');
          if( this.message == "登陆" ){
            this.$http.post('/login_verify/',{"email":this.email,'username':this.username,'password':this.password},{headers:{'X-CSRFToken':csrf_token}});
          }else{
            this.$http.post('/register/',{"email":this.email,'username':this.username,'password':this.password,'phonenumber':this.phonenumber},{headers:{'X-CSRFToken':csrf_token}});
          }
        }
      }
    });
  </script>
</html>
